<p id="notice"><%= notice %></p>
<h3>Details</h3>
<table width="95%" border="1" cellpadding="5">
  <tr>
    <th colspan="2" scope="col"></th>
  </tr>
  <tr>
    <td><strong>User Name:</strong> <%= @user.name %></td>
    <td rowspan="5"><strong>Photo:</strong><br />
    <center><%= image_tag(@user.photo) %></center></td>
  </tr>
  <tr>
    <td><strong>User Email:</strong> <%= @user.email %></td>
  </tr>
  <tr>
    <td><strong>Date of Birth</strong> <%= @user.dob %></td>
  </tr>
  <tr>
    <td><strong>Gender:</strong> <%= @user.gender %></td>
  </tr>
  <tr>
    <td><strong>Regular User:</strong> <%= @user.regular %></td>
  </tr>
</table>
<br />

<%= link_to 'Edit User', edit_user_path(@user) %>

